<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{title}} - COMP423 - 23S</title>
  <link rel="icon" type="image/png" href="/static/tabbrand.png" />
  {# BOOTSTRAP CDN #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/styles.css?v={{time_stamp}}">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">COMP423</a>
      {# Hamburger Icon on smaller screens #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      {# Navbar Links #}
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " href="/">agenda</a>
          </li>
          <li class="nav-item">
            <a href="/support" class="nav-link">support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {# CONTENT #}
  <div id="{{page}}-page" class="container">
    <div class="row pt-4">
      <div class="col-12">
        <h2>{{title}}</h2>
        <hr class="title" />
      </div>
    </div>

    {% block content %}{% endblock %}

    {# CONTRIBUTORS BOX #}
    <div class="authors-box bg-light mt-4 py-3 ps-4">
      <span> Contributor(s):
        {%- if author != "" -%}
        {%- for person in range(author|length-1) %}
        {{ author[person] + "," }}
        {%- endfor -%}
        {{" " + author[author|length-1]}}
        {%- endif -%}
      </span>
    </div>
  </div>
  {# PAGE FOOTER #}
  <div class='link-page mt-3 container'>
    <footer>
      <h6 class="text-center align-middle footer-text">&copy; 2023 <a href="https://krisjordan.com">Kris Jordan</a>
        - <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScQMteEvnQpBfGsAYP5TpuqokQenhZUIf8CNvfAUUZEjMCWZQ/viewform?usp=sf_link">Feedback
          Form</a>
        - Made with 💛 in <a href="https://cs.unc.edu/">Chapel Hill</a></h6>
    </footer>
  </div>
  {# SCRIPTS FOR BOOTSTRAP #}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</body>

</html>