<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{title}} - COMP423 - 23S</title>
  <link rel="icon" type="image/png" href="/static/tabbrand.png" />
  {#
  <link rel="stylesheet" href="/static/bootstrap.min.css"> #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  {#
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"> #}
  <link rel="stylesheet" href="/static/styles.css?v={{time_stamp}}">

  {#
  <script src="/static/scripts/scroll-handler.js"></script>
  <script src="/static/scripts/sunset_sunrise.js"></script> #}

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">COMP423</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          {# WILL ADD BACK WHEN PAST SECTION IS BACK #}
          {# <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              agenda
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#latest">this week</a></li>
              <li><a class="dropdown-item" href="#past">the past</a></li>
            </ul>
          </li> #}
          <li class="nav-item">
            <a class="nav-link " href="/">agenda</a>
          </li>
          <li class="nav-item">
            <a href="/support" class="nav-link">support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {# INTRO SECTION #}
  <section class="bg-dark text-light p-5 pt-lg-5 text-center text-sm-start d-none d-md-block">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Foundations of Software Engineering</h1>
        </div>
      </div>
    </div>
  </section>

  {# BODY OF HOMEPAGE: Found at index.md #}
  {% block content %}
  <div class="container">
    <div class="content">{{body}}</div>
  </div>
  {% endblock %}


  </div>
  {# PAGE FOOTER #}
  <div class='link-page mt-3 container'>
    <footer>
      <h6 class="text-center align-middle footer-text">&copy; 2023 <a href="https://krisjordan.com">Kris Jordan</a>
        - <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScQMteEvnQpBfGsAYP5TpuqokQenhZUIf8CNvfAUUZEjMCWZQ/viewform?usp=sf_link">Feedback
          Form</a>
        - Made with 💛 in <a href="https://cs.unc.edu/">Chapel Hill</a></h6>
    </footer>
  </div>
  {# SCRIPS FOR BOOTSTRAP #}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

</body>

</html>